@import url('https://fonts.googleapis.com/css?family=Monoton');

html, body {
  margin: 0;
  padding: 0;
  font: 400 62.5% 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  display:flex;
  flex-direction: column;
  height:100%;
}

body{
  background: url('../image/cinema.jpg') no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

  /******************************************
  *               HEADER.php                *
  *                                         *
  ******************************************/

  header {
    display:flex;
    min-width: 100%;
    font-size: 3.5rem;
    position: fixed;
    z-index:10;
    color: #fff;
    height:25%;
    /* background-image: url('../image/pellicule.jpg');
    background-size: contain; */
  }

  header a {
    color: #fff;
    text-decoration: none;
  }

  header a:hover {
  text-shadow: 1px 1px 5px #fff;
  }

  /*---------------------------BOUTON MENU------------------------*/

   header div{
    cursor: pointer;
    margin-top: 3%;
  }

  .menu{
    display:flex;
    width: 12%;
    padding-left:3%;
  }
  .menu span{
    margin-left:5%;
    font-size:2rem;
  }

  .bar1, .bar2, .bar3 {
      width: 30px;
      height: 4px;
      background-color: #fff;
      margin: 4px 0;
      /* transition: 0.3s; */
  }

  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-4px, 4px);
      transform: rotate(-45deg) translate(-4px, 4px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
  }
  /*<---------------------FIN BOUTON------------------------*/

  /*<-------------------DEBUT menu déroulant--------------------->*/

  .sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 21%;
    left: 0%;
    background-color: #0f2d3f99;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 25px;
    }

  /*--animation du menu déroulant---*/
  .animation-left{
  animation-name:  slideleft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

  .animation-right{
  animation-name:  slideright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  }

  @keyframes slideleft{
    100% {width: 20%;}
  }

  @keyframes slideright{
    0%   {width:20%;}
    100% {width: 0%;}
  }

  .sidenav a {
    display: block;
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    color: #f1f1f1;
    transition: 1s;
  }

  .sidenav a:hover {
      text-shadow : 0 0 5px #fff;
  }

   @media screen and (max-height: 250px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 1.8rem;
    }
  }
  /*<-------------------FIN menu déroulant--------------------->*/

  /*<------------------liste des films--------------------->*/
  .logo{
    min-width :65%;
    font-family:'Monoton', cursive;
    font-size: 7rem;
    text-align: center;
    letter-spacing: 16px;
    margin:0;
    text-shadow: 8px 8px 5px #0011fd, -8px -8px 5px #0011fd,0px 8px 5px #0011fd,8px 0px 5px #0011fd;
  }

  /* -----------  compte utilisateur connexion--------------------->*/

  .compte{
    width:15%;
    padding-left:5%;
    font-size: 2rem;
    }

  .compte a:first-child{
    float: left;
  }

  .compte a:last-child{
    float: right;
    padding-right :10%;
  }

  @media screen and (max-width: 1000px) {

   .logo {
      display: none;
   }
   .compte{
     width: 78%;
     padding-left: 40%;
   }
 }

  /*       ****************************
           *        FIN HEADER        *
           *****************************/


  /******************************************
  *    LISTE DES FILMS : index.php          *
  *                                         *
  ******************************************/


  .index h1{
    font-size: 4rem;
    color: white;
    text-align: center;
    box-shadow: 0 0 35px 25px;
    margin-top:15%;
  }

  .liste_film{
      margin-top:5%;
      display:flex;
      flex-wrap: wrap;
  }

  .image{
    width:35%;
    margin:5%;
  }

   .image img{
      width:100%;
      height: 450px;
  }

  .image:hover{box-shadow: 0 0 5px 5px #fff;

  }

  .image p{
    font-size : 2.5rem;
    color:white;
    text-align: center;
    margin:5%;
  }

  /******************************************
  *   DETAIL FILM  : detail.php             *
  *                                         *
  ******************************************/

.detail {
  font-size: 1.5rem;
  color: #fff;
  margin:20% 0 5% 2%;
  display:flex;
}

/* .detail div:first-child{
 width: 100%;
} */

.detail div img{
  width:100%;
}

.descriptif {
  padding:0 2%;

}

.descriptif h1{
  font-size: 3.5rem;
  color: white;
  text-align: center;
  box-shadow: 0 0 35px 25px;
  border-radius: 5px;
  margin: auto;
  padding: 1%;
  margin-bottom: 1%
}

.descriptif div
{
  margin:1%;
}

.descriptif span{
  margin-left:0;
}

/************************************************
*   FORMULAIRE ajout film : f_listefilm.php     *
*                                               *
*************************************************/
.f_listfilm fieldset {
    color: #FFFFFF;
    width: 50%;
    margin: 17% auto ;
    border-radius: 10px;
}

/***********************************************************
*        VALIDATION ajout film : v_listefilm.php           *
*                                                          *
************************************************************/
.v_listefilm{
  color: #FFFFFF;
  margin: 17% auto ;
  font-size: 1.5rem;
}

    /*************************************************************
    * FORMULAIRE inscription utilisateur : f_inscription.php     *
    *                                                            *
    **************************************************************/
    .text {
        color: #FFFFFF;
        font-size: 4rem;
        text-align: center;
    }

    fieldset {
        color: #FFFFFF;
        width: 40%;
        margin :auto ;
        border-radius: 10px;
    }

    .confield {
        color: #FFFFFF;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        background-color: #555555;
    }

    legend {
        font-size: 2.5rem;
        margin:auto;
        margin-top: 10%;
        text-align: center;
        padding-bottom: 5%;
    }

    label:not(.notmarge) {
        margin-left:4%;
    }

    label {
      font-size: 2rem;
    }

    input {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 0;
        margin-top: 2%;
        margin-left: 4%;
        margin-bottom: 2%;
        padding-left: 1%;
        font-size: 2rem;
    }

    input[type="radio"] {
        width: 20px;
        vertical-align: middle;
        margin-left: 40px;
        font-size: 1.5rem;
    }

    input[type="submit"],
    input[type="reset"] {
        width: 130px;
        height: 40px;
        border-radius: 50%;
        margin-left: 10%;
        color: #000;
        font-size: 1.5rem;
    }

    fieldset span {
        font-size: 2rem;
        margin-left: 4%;
    }

    .fielset p {
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }

    .field {
        height: 450px;
    }

    .marginB {
      margin-bottom: 100px;
      margin-top: 150px;
    }

    .suppression,
    .v_suppression {
      font-size: 1.5rem;
      color: white;
      text-align: center;
    }

    .suppression span {
        color:red;
        font-size : 2rem;
    }

    .suppression a,
    .v_suppression a
    {
      color:#fff;
    }

    .v_suppression{
      margin:15% auto 5% auto;
    }


    @media screen and (max-width: 800px) {
      fieldset {
        width: 90%;
      }
    }


    /***************************************************************
    *         Validation inscription : v_inscription.php           *
    *                                                              *
    ****************************************************************/

    .v_inscription{
      margin:20% 5% 5% 10%;
      color:#fff;
      font-size: 2rem;
    }

    .v_inscription p a{
      color:#fff;
    }

    /***************************************************************
    *         Validation contact : v_contact.php                  *
    *                                                              *
    ****************************************************************/

    .v_contact .contact{
      margin: 20%;
      font-size: 2rem;
      color: #fff;
      height: 150px;
      text-align: center;
    }

    /***************************************************************
    *         favori : film_utilisateur.php                         *
    *                                                              *
    ****************************************************************/
    .favori{
      margin: 15%;
      font-size: 2rem;
      color: #fff;
      height: 150px;
      text-align: center;
    }


  /******************************************
  *               FOOTER.PHP                *
  *                                         *
  ******************************************/

  footer {
    background-color: #000;
    bottom: 0;
  }

  .footer-distributed {
    box-shadow: 0 0 35px 25px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 20px 20px;
    margin-top: auto;
  }

  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: middle;
    font-size:2rem;
  }

  /* ------------------Footer left-------------------- */

  .footer-distributed .footer-left {
    width: 35%;
    font-size:1.5rem;
  }

  /* --------------------Footer links----------------- */

  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }

  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }

  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
  }

  /* ------------------Footer center----------------- */

  .footer-distributed .footer-center {
    width: 25%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }

.contact textarea
{
  width: 80%;
  font-family: 'Open Sans';
  border-radius: 15px;
  background-color: #f1f1f1;
  margin-top:10%;
  padding-left: 3%;
  font-size: 1.5rem;
}

.contact input {
      width: 80%;
      height: 25px;
      border-radius: 15px;
      background-color: #f1f1f1;
      border: 0;
      margin-top: 0;
      margin-left: 0;
      margin-bottom:0;
      padding-left: 3%;
      font-size: 1.5rem;
  }

  .contact input[type="submit"]
   {
      width: 100px;
      height: 40px;
      border-radius: 50%;
      margin-left:5%;
      color: #8f9296;
      font-size: 1.5rem;
  }

  .contact .marginB {
    margin-bottom: 100px;
    margin-top: 150px;
  }

  @media screen and (max-width: 800px) {
    .contact fieldset {
      width: 90%;
    }
  }

  /* -------------------Footer Right------------------- */

  .footer-distributed .footer-right {
    width: 35%;
    margin-left: 4%;
    text-align: left;
    font-size:1.5rem;
  }

  .footer-distributed .footer-right i {
    background-color: #0262c8;
    color: #fff;
    font-size: 2rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 10px 15px;
    vertical-align: middle;
  }

  .footer-distributed .footer-right i.fa-envelope {
    font-size: 1.7rem;
    line-height: 38px;
  }

  .footer-distributed .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }

  .footer-distributed .footer-right p span {
    display: block;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2;
  }

  .footer-distributed .footer-right p a {
    color: #fff;
    text-decoration: none;
  }
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
  }

  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .footer-distributed .footer-icons {
    margin-top: 25px;
  }

  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
